:root {
    --white-color: #fff;
    --black-color: #000;
    --orange-color: #ff9900;
    --yellow-color: #ffd500;
    --blue-main-color: #328ce7;
    --iconblue-color: #98cefd;
    --lightblue-color: #f0f2fb;
    --darkblue-color: #6a7993;
    --iconbrown-color: #85785f;
    --background-color: #204147;
    --text-color: #333;
    --green-color: #0b7a2e;
    --gray-color: rgb(192, 192, 192);
    /* --gray-color: #f0f2fb; */
}

@font-face {
    font-family: text-number;
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 5px 10px;
}

html {
    height: 100%;
    background-color: var(--background-color);
    font-size: 62.5%;  /* 10px (100% = 16px) */
    line-height: 1.6rem;
    font-family: 'Times New Roman', Times, serif; 

}

.text-number {
    font-family: 'text-number';
}

.text-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}

.text-vocabulary {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--green-color);
    font-size: 1.9rem;
    text-transform: capitalize
}

.text-remid {
    display: none;
}

.columns {
    display: flex;
}

/* Icon cirle */
.container-icon-fa-circle {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

